*{
    margin: 0;
    padding: 0;
}

/* #navbar{

} */
/* 
#swiper{
    
} */

.swiper-part{
    display: flex;
    justify-content: center;
    transition-property: transform;

}

.swiper-part-imgdiv{
    height: fit-content;
    width: fit-content;

}

.swiper-part-img{
    height: 500px;
    width: 500px;
    padding: 25px;
    border-radius: 10%;
    transition-property: width;
    transition-duration : 2s;
    transition-timing-function : ease-in ;
    transition-delay : 2s ;
}

.swiper-part-textdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-part-text{
    height: fit-content;
    width: fit-content;
    padding: 25px;
}