/* below style is for Footer.css */
* {
  margin: 0;
  padding: 0;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #169839;
}

/* below style is for Header.css */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.header-li {
  width: fit-content;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #169839;
}
#header-ul {
  display: flex;
  list-style: none;
  font-size: 20px;
}
.link {
  color: #169839;
}
/* .link:hover{
    color: white;
    background-color: #169839;
    border-radius: 20px;
    padding: 5px;
} */
.active-link {
  color: white;
  background-color: #169839;
  border-radius: 20px;
  padding: 5px;
}
/* #logo{

} */
#logo-img {
  height: 60px;
  width: fit-content;
}
#header {
  padding: 24px 60px 24px 60px;
  display: flex;
  justify-content: space-around;
}

/* below style is for Navbar.css */
#content {
  width: 100%;
  overflow: hidden;
}

#swiper {
  display: flex;
  width: 400%;
  animation: slide 10s infinite;
}

.swiper-part {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.swiper-part-img {
  max-width: 100%;
  height: auto;
  border-radius: 30px;
}

.swiper-part-textdiv {
  text-align: center;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25%);
  }
  45% {
    transform: translateX(-25%);
  }
  50% {
    transform: translateX(-50%);
  }
  70% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-75%);
  }
  95% {
    transform: translateX(-75%);
  }
  100% {
    transform: translateX(0);
  }
}

/* below style is for Signup.css */
* {
  margin: 0;
  padding: 0;
}

.container {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

h1 {
  font-size: 2rem;
  color: #169839;
  padding: 5px;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input,
select {
  width: 300px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #169839;
}

.inputs {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #169839;
  background-color: #169839;
  color: white;
  font-weight: bold;
}



/* below css is for userprofile */
#user-profile{
}
#user-profile-content{
  height: 70vh;
  /* border: 1px solid #169839; */
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
}




/* below css if for usercard */
#user-card-div{
  width: 20%;
  border: 2px solid #169839;
  margin: 10px;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#user-img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 1px solid #169839;
}
#user-card-ul{
  list-style: none;
}
.user-card-li{
  
}

/* below css is for usercontent */
#user-content{
  width: 80%;
  border: 2px solid #169839;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
#user-content > h2{
  text-align: center;
  color: #169839;
}
#user-content > hr{
  margin: 5px;
}
#user-content > #div1{
  height: 100%;
}
#user-content > #div2{
  height: fit-content;
  display: flex;
  justify-content: end;
}
#user-content > #div1 > p{
  font-size: 20px;
  margin: 5px;
}
/* below css is for complaintform.jsx */
textarea{
  width: 100%;
  border: 2px solid #169839;
  color: #169839;
  font-size: 2em;
}
